{% extends "base.html" %}
{% block content %}
  {% load static %}
  <h1>Welcome To The Show Task</h1>
  <div class="row">
    {% for category in data %}
      {% for task in category.tasks.all %}
        <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <p class="card-text">{{ task.id }}</p>
              <h2 class="card-title">{{ task.title | slice:":50" }}{% if task.title|length > 50 %}..{% endif %}</h2>
              <h5 class="card-text">{{ task.date }}</h5>
              <p class="card-text">{{ task.description | slice:":100" }}{% if task.description|length > 100 %}..{% endif %}</p>
              <p>
                Category: {{ category.name | slice:":15" }}{% if category.name|length > 15 %}..{% endif %}
              </p>
              <p>
                {% if not task.isCompleted %}
                  <a href="{% url 'delete_task' task.id %}" class="btn btn-danger">Delete</a>
                  <a href="{% url 'edit_task' task.id %}" class="btn btn-warning">Edit</a>
                {% endif %}
                {% if task.isCompleted %}
                  <span class="btn btn-success">Completed</span>
                {% endif %}
              </p>
            </div>
          </div>
        </div>
      {% endfor %}
    {% endfor %}
  </div>
{% endblock %}
